html * {
    box-sizing: border-box !important;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: "Anonymous Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
}
h1 {
  font-family: "Oswald", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.hero_wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
    color: #fff;
}

.hero_wrapper.table {
    background: rgba(0, 0, 0, 0.4);
}

.hero_wrapper p {
    display: block;
    width: 300px;
    margin: 0 auto;
    line-height: 1.7;
}

.cta_wrapper {
    display: table;
    width: 100%;
    height: 400px;
}

.cta_wrapper .inner {
    display: table-row;
}

.cta_wrapper .inner .cta {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 30px;
    padding: 30px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    text-decoration: none;
}

video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('//placecage.com/1920/1080') no-repeat;
    background-size: cover;
    overflow: hidden;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
}
